
.main-container {
  width: 80%;
  // display: flex;
}

.game-container {
  position: relative;
  width: 80vw;

  image-rendering: pixelated;
}
.game-canvas {
  width: 100%
}
.chatroom {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-container div.chatroom {
  // display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.chatroom .d-flex {
  width: 100%;
  height: 10vh;

}

textarea.form-control {
  height: auto
}
div.d-flex.flex-row {
  height: auto;
}

#javascript {
  position: fixed;
  top: 15vh;
  left: 35vw;
}

.onlinelist {
  position: absolute;
  width: 20%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgb(82, 82, 131);
}

#friends-list {
  width: 100%;
  background-color: red;
  height: 50px;
}