
.main-container {
  width: 100%;
  // display: flex;
}

.game-container {
  position: relative;
  width: 80vw;
  height: 100vh;
  background: url(./game_img/town-map.png) no-repeat;
  transform: scale(0.8);
  image-rendering: pixelated;
}
.game-canvas {
  width: 100%
}
.chatroom {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-container div.chatroom {
  // display: flex;
  width: 70%;
  align-items: center;
  margin: 0 auto;
}

.chatroom .d-flex {
  width: 100%;
  height: 10vh;

}

textarea.form-control {
  height: auto
}
div.d-flex.flex-row {
  height: auto;
}
