$base-color: #f7e7be;
$btn-color: #fe9e84;
$form-color: #009f92;
$list-color: #005366;

body{
  background-color: $base-color;
}

#form_login {
  background-color: $form-color;
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
}

#form_login div {
  margin: 5px
}

.btn {
  background-color: $btn-color;
  width: 150px;
  margin: 5px
}