$back-color: #1f1f1e;
$main-color: #b0d36a;
$second-color: #9883c4;

.main-container {
  width: 75%;
  // display: flex;
}
.side-bar{
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: $second-color;
}

.game-container {
  position: relative;
  width: 80%;
  margin: 4vh auto;
  background-size: cover;
  image-rendering: pixelated;
  // border-radius: 10px;
}
.plaza {
  background-image: url('./game_img/town-map.png');
}
.js {
  background-image: url('./game_img/classroom.png');
}
.ruby {
  background-image: url('./game_img/lounge.png');
}


.game-canvas {
  width: 100%;
  max-width: 80vw;
  max-height: 70vh;
}

