
.main-container {
  width: 80%;
  // display: flex;
}

.game-container {
  position: relative;
  width: 80vw;

  image-rendering: pixelated;
}
.game-canvas {
  width: 100%;
  max-width: 80vw;
  max-height: 70vh;
}
.chatroom {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-container div.chatroom {
  // display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.chatroom .d-flex {
  width: 100%;
  height: 10vh;

}

textarea.form-control {
  height: auto;
  caret-color: transparent;
}
div.d-flex.flex-row {
  height: auto;
}

#javascript {
  position: fixed;
  top: 15vh;
  left: 35vw;
}

.online-list {

  position: absolute;
  width: 20%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #808080;
  color: white;
  img.user-avatar {
    width: 15px;
  }
}

.language {
  background-color: #9999ce;
}
.collapsButton {
  width: 100%;
}

.languageDiv {
  padding-left: 10px;
  font-size: 9px;
}

.languageDiv:hover {
  font-size: 15px;
  background-color: #9999ce;
}