$base-color: #1f1f1e;
$btn-color: #bada55;
$form-color: #009f92;

.main-container {
  width: 80%;
  // display: flex;
}

.game-container {
  position: relative;
  width: 80vw;
  background-size: cover;
  image-rendering: pixelated;
}
.plaza {
  background-image: url('./game_img/town-map.png');
}
.js {
  background-image: url('./game_img/classroom.png');
}
.ruby {
  background-image: url('./game_img/lounge.png');
}


.game-canvas {
  width: 100%;
  max-width: 80vw;
  max-height: 70vh;
}
.chatroom {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-container div.chatroom {
  // display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.chatroom .d-flex {
  width: 100%;
  height: 10vh;

}

textarea.form-control {
  height: auto;
  caret-color: transparent;
}
div.d-flex.flex-row {
  height: auto;
}

#javascript {
  position: fixed;
  top: 15vh;
  left: 35vw;
}

.online-list {

  position: absolute;
  width: 20%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: $form-color;
  font-size: 1.3rem;
  color: white;
  img {
  background-color: rgb(82, 82, 131);
    img.user-avatar {
      width: 15px;
    }
  }
}

.language {
  background-color: $form-color;
}
.collapsButton {
  width: 100%;
}

.languageDiv {
  padding-left: 10px;
  font-size: 0.6em;
}

.languageDiv:hover,
li.list-languages:hover {
  font-size: 15px;
  background-color: $base-color;
}

.profile {
  background-color: red;
  width: 20%;
  height: 10%;
  position: absolute;
  left: 0;
  top: 0;
  
  
}
.languageLists,
li.list-languages {
  font-size: 0.8rem;
  background-color: rgb(82, 82, 131);
  flex-direction: row;

}
// .languageLists:hover {
//   font-size: 0.8rem;
//   background-color: rgb(82, 82, 131);
// }