$back-color: #1f1f1e;
$main-color: #b0d36a;
$second-color: #9883c4;

.main-container {
  width: 75%;
  background-color: $main-color;
  // display: flex;
}
.side-bar{
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: $second-color;
}

.game-container {
  position: relative;
  width: 100%;
  /* height: 42vh; */
  background-size: cover;
  image-rendering: pixelated;
}
.plaza {
  background-image: url('./game_img/town-map-2.png');
}
.js {
  background-image: url('./game_img/classroom-2.png');
}
.ruby {
  background-image: url('./game_img/lounge-2.png');
}


.game-canvas {
  width: 100%;
  max-width: 80vw;
  height: auto;
}

.lecture-btn {
  position: fixed;
  z-index: 2;
  width: 130px;
  height: 50px;
  margin-top: 40px;
  margin-left: 50px;
  padding: auto;
  font-size: 1.3rem;
  background: $main-color;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px grey;


}

.lecture {
  width: auto;
  height: auto;
  background-color: white;
  top: 0;
  right: 25%;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  }

  .lecture-input {
    width: 80%;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 2px #d0cece;
  }

  .input-btn {
    width: 20%;
    border: none;
    background-color: $main-color;
    padding: 3px;
  }

  @media (max-width: 1000px){
    .lecture-btn{
      width: 90px;
      height: 30px;
      font-size: 1rem;
    }
  }