$base-color: #1f1f1e;
$btn-color: #b0d36a;
$form-color: #009f92;

body{
  background-color: $base-color;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;


  h1 {
    color: #bada55;
    font-size: 4.5rem;
    font-weight: bolder;
  }
}

#form_login {
  background-color: $form-color;
    width: 400px;
    height: 300px;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
}

#form_login div {
  margin: 5px
}

.btn {
  background-color: $btn-color;
  width: 150px;
  margin: 5px
}