$back-color: #1f1f1e;
$main-color: #b0d36a;
$second-color: #9883c4;
// $form-color: #009f92;

body{
  background-color: $back-color;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .logo {
    background: url('./game_img/logo.png') no-repeat;
    background-size: contain;
    width: 400px;
    height: 170px;
    /* margin-bottom: 40px; */
    image-rendering: pixelated;

  }
  // h1 {
  //   color: $main-color;
  //   font-size: 6rem;
  //   font-weight: bolder;
  //   font-family: 'VT323', monospace;
  // }

  // h2 {
  //   color: $main-color;
  //   font-size: 4rem;
  //   font-weight: bolder;
  //   font-family: 'VT323', monospace;
  // }
}

#form_login {
  background-color: $second-color;
  width: 30%;
  min-width: 450px;
  max-width: 550px;

  height: 350px;
  margin-top: 30px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 5px 5px #888888;
  font-size: 1.2rem;

  div {
    width: 100%;
    padding: 0.5rem;
    }

  input {
    width: 100%;
    border-radius: 5px;
  }

  p {
    margin-bottom: 0;
    color: whitesmoke;
  }

  .btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
  }

}


.btn {
  background-color: #b0d36a;
  width: 40%;
  margin: 5px;
  font-size: 1.2rem;
}