$back-color: #1f1f1e;
$main-color: #bada55;
$second-color: #7555da;



.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .logo {
    background: url('./game_img/logo.png') no-repeat;
    background-size: contain;
    width: 400px;
    height: 170px;
    /* margin-bottom: 40px; */
    image-rendering: pixelated;

  }
  h1 {
    color: $main-color;
    font-size: 6rem;
    font-weight: bolder;
    font-family: 'Londrina Shadow', cursive;
    margin-bottom: 0;
  }

  h2 {
    color: $main-color;
    font-size: 2rem;
    margin-bottom: 4rem;
  }
}

#form_login {
  background-color: $second-color;
  width: 30%;
  min-width: 450px;
  max-width: 550px;
  height: 350px;
  margin-top: 30px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 3px 3px #8888889e;
  font-size: 1.2rem;

  div {
    width: 100%;
    }

  input {
    width: 100%;
    border-radius: 5px;
    height: 3rem;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 0;
    color: whitesmoke;
  }

  .btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
  }

}


.btn {
  background-color: $main-color;
  width: 40%;
  margin: 0 10px;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
}