section.container {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .inner {
    position: relative;
    max-width: 800px;
    height: 100%;
    // margin: auto;
    .header {
      // position: absolute;
      // top: 0;
      margin-top: 50px;
      // width: 100%;
      // left: 0;
      // right: 0;
      // margin: auto;
    }
  }
}