$back-color: #1f1f1e;
$main-color: #b0d36a;
$second-color: #9883c4;
$list-color: #5f436d;
$side-bar-color: #e2ecc2f5;

.register-form {
  width: 600px;
  height: 50vh;
  margin-top: 10vh;
  background-color: $second-color;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 8px 8px #888888;
  margin: 20vh auto;
  font-size: 1.2rem;
}

.field {
  padding: 10px;
  ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    li {
      list-style: none;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      align-items: flex-end;
      label {
        margin:0
      }
    }
  }

  .text-input {
    order: none;
    border-radius: 5px;
    width: 300px;
  }
}

.btn {
  background-color: $main-color;
  width: 150px;
  margin: 5px
}


#form_registration {
  position: absolute;
  z-index: 100;
}

.navigation {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
  background-color: $back-color;
  height: 5rem;
  width: 100%;
}
.incorrect_password {
  color: red;
  display: inline-block;
}
.correct_password {
  display: none;
}
.div_boyImage1 {
  background-image: url("./game_img/boy1.png");
  width: 65px;
  height: 65px;
}
.div_boyImage2 {
  background-image: url("./game_img/boy2.png");
  width: 65px;
  height: 65px;
}
.div_girlImage1 {
  background-image: url("./game_img/girl1.png");
  width: 65px;
  height: 65px;
}
.div_girlImage2 {
  background-image: url("./game_img/girl2.png");
  width: 65px;
  height: 65px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

