/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url("http://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"); */

body {
  background-color: #1f1f1e;
  font-family: "Share Tech Mono", monospace;
}

.logo_img {
  width: 5rem;
  height: 5rem;
  position: fixed;
  left: 0;
  top: 0%;
}
/* canvas {
  width: 100%;
  height: 100%
} */
/* .div_relative {
  position: relative;
} */

.main {
  width: 100vw;
  height: 100vh;
  padding-top: 1px;
  display: flex;
  overflow: hidden;
}

