@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Londrina+Shadow&display=swap');

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Share Tech Mono", monospace;
  background-color: #1f1f1e;
}
@media screen and (max-width: 1250px) {
  html {
    /* font-size: 10px; */
  }
}
@media screen and (max-height: 700px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 10px;
  }
}
#root {
}
.logo_img {
  width: 5rem;
  height: 5rem;
  position: fixed;
  left: 0;
  top: 0%;
}
